In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
urltrain = '/content/train.csv'
urltest = '/content/test.csv'

In [3]:
dftrain = pd.read_csv(urltrain)
dftest = pd.read_csv(urltest)

In [4]:
submit = dftest

In [5]:
dftrain = dftrain.dropna(axis=0,subset=['Embarked'])

In [6]:
dftrain.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [7]:
dftrain  = dftrain.drop('Cabin',axis=1)

In [8]:
dftrain['Age'].fillna(dftrain['Age'].mean(),inplace=True)

In [9]:
dftrain.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,29.642093,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,C

In [10]:
dftrain = dftrain.drop(['PassengerId','Name','Ticket','Fare','Embarked'],axis=1)
dftrain['Sex'] = dftrain['Sex'].replace(['male','female'],[1,0])

In [11]:
dftrain.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    1  22.0      1      0
1         1       1    0  38.0      1      0
2         1       3    0  26.0      0      0
3         1       1    0  35.0      1      0
4         0       3    1  35.0      0      0

In [12]:
dftrain = dftrain.drop(['Parch'],axis=1)

In [13]:
X_train = dftrain.drop(['Survived'],axis=1)
Y_train = dftrain['Survived']

In [14]:
dftest  = dftest.drop('Cabin',axis=1)
dftest = dftest.drop(['PassengerId','Name','Ticket','Fare','Embarked','Parch'],axis=1)
dftest['Sex'] = dftest['Sex'].replace(['male','female'],[1,0])

In [15]:
dftest.head()

   Pclass  Sex   Age  SibSp
0       3    1  34.5      0
1       3    0  47.0      1
2       2    1  62.0      0
3       3    1  27.0      0
4       3    0  22.0      1

In [16]:
dftest['Age'].fillna(dftest['Age'].mean(),inplace=True)

In [17]:
dftest.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler
X_train = StandardScaler().fit_transform(X_train)

In [19]:
X_test = dftest

In [20]:
X_test = StandardScaler().fit_transform(X_test)

In [30]:
def predmodel(X_train,Y_train):
  from sklearn.linear_model import LogisticRegression
  log = LogisticRegression(random_state=0)
  log.fit(X_train,Y_train)
  print("Training accuracy : ",log.score(X_train,Y_train))
  return log

In [31]:
pred = predmodel(X_train,Y_train)

Training accuracy :  0.7862767154105736

In [32]:
prediction = pred.predict(X_test)

In [24]:
prediction

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [33]:
predict=pd.DataFrame(prediction,columns=['Survived'])
predict

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [34]:
submission=pd.concat([submit['PassengerId'],predict],axis=1)

In [35]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [36]:
submission.to_csv('submission.csv',index=False)